body {
    background: rgb(137, 137, 248);
    font: normal 15pt Arial;
    color: rgb(35, 35, 43);
}

header {
    text-align: center;
}

section {
    background: white;
    border-radius: 8px;
    padding: 15px;
    width: 61.8%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.618);
}

div{
    text-align: center;
    padding: 8px;
}

img {
    width: 61.8%;
}

footer {
    text-align: center;
    font-style: italic;
}